@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Spline+Sans+Mono:wght@300;600&display=swap");
* {
  padding: 0;
  margin: 0; }

h1,
h2 {
  font-family: "Spline Sans Mono", sans-serif; }

h3 {
  font-family: "Rubik Mono One", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 0.8em; }
